@charset "utf-8";

body {
  background-color: #fffaf0;
  color: black;
}

@property --hensu-name {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotate {
  to {
    --hensu-name: 360deg;
  }
}

.top {
  padding: 5px;
  margin: 10px;
}

.middle {
  display: flex;
  border: 3px solid;
  padding: 5px;
  margin: 25px;
  box-shadow: 0 5px 5px;
  justify-content: center;
}

.under {
  /* display: grid; */
  padding: 20px;
  margin: 20px;
}

#daycount {
  font-family: serif;
}

#rainbow {
  background: linear-gradient(var(--hensu-name), red, orange, yellow);
  animation: rotate 5s linear infinite;
}
